html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #DBF3FA;
}

/* ------------------------------------------------- */
/* Cart */
/* ------------------------------------------------- */

.cart-container{
    border-style: inset; 
    border-color: #A9A9A9; 
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);

    background-color: white;

    width: 700px;
    height: auto;
    margin: 80px auto;
   
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
}

.cart-header{
    display: flex;
    border-bottom: 2px solid #DBF3FA;
    margin-bottom: 10px;
}

.cart-footer{
    display: flex;
    border-top: 2px solid #DBF3FA;
    margin-top: 10px;
}

.cart-total-text{
    font-size: xx-large;
    width: 150px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.cart-total{
    font-size: xx-large;
    width: 150px;
    margin-left: 400px;
    margin-right:50px;
    margin-bottom: 20px;
}

.cart-container span{
    padding-top: 30px;
    overflow: hidden;
}

.cart-img{
    width:50px;
    height:50px;
    margin: 25px 20px 20px 30px;
}

.cart-name{
    font-size: xx-large;
    width: 150px;
    margin-left:20px;
}

.cart-close{
    width:30px;
    height:30px;
    color:white;
    background: darkgray;
    border-width: 0px;
    border-radius: 10px;
    border-style: inset; 
    margin-left: 360px;
    margin-top: 35px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
}

#div_button_container
{
    width: 700px;
    height: auto;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

#cart_close_2{
    width:100px;
    height:50px;
    color:black;
    background: white;
    border-style: inset; 
    border-color: #A9A9A9; 
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    margin:auto;
    cursor: pointer;
    font-size: x-large;
}

#cart_checkout{
    width:150px;
    height:50px;
    color:white;
    background: #45b6fe;
    border-style: inset; 
    border-color: #A9A9A9; 
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
    margin: auto;
    cursor: pointer;
    font-size: x-large;
}

#cart_show{
    width:100px;
    height:50px;
    color:black;
    background: white;
    border-style: inset; 
    border-color: #A9A9A9; 
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    margin: 80px auto;
    cursor: pointer;
    font-size: x-large;
    display:none;
}

/* ------------------------------------------------- */
/* Item */
/* ------------------------------------------------- */

.item-container{
    margin: 20px 20px 10px 20px;
    display: flex;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.20);
    background-color: #DBF3FA;
}

.item-img{
    width:50px;
    height:50px;
    margin:20px;
}

.item-container span{
    margin-top: 6px;
    overflow: hidden;
}

.item-name{
    width: 200px;
    overflow: hidden;
}

.item-price{
    padding-left: 50px;
}

.item-quantity{
    width: 40px;
    height: 25px;
    margin-top: 32px;
    margin-left: 50px;
}

.item-total{
    width: 50px;
    height: auto;
    padding-left: 40px;
    overflow-wrap: break-word;
}

.item-remove{
    width:30px;
    height:30px;
    color:white;
    background: red;
    border-width: 0px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.30);
}


