#editor{
	width: 100%;
	text-align:center;	
}

#editor #ctext{
	width: 100%;
}

#list{
	list-style-type: none;
}

#list li{
	border: solid 1px black;
	padding: 10px;
	margin: 5px;	
}

#list li>span:first-child{	
	display:inline-block;
	width: 89%;	
}

#list li>span:last-child{	
	display:inline-block;
	width: 10%;
	text-align: center;
}

#list li>span:last-child>a{
	color:gray;
	text-decoration: none;
}